
/*start result*/
.search-result{
    background-color:var(--background-color);
    height: 100%;
}
.search-result img {
    width: 40%;
    position: relative;
    left: 60%;
    bottom: 65px;
}
.search-result .container .content{
    height: 400px;
    position: relative;
    border: 1px solid;
    border-radius: 20px;
    width: 1000px;
    background-color: #27365B;
    margin-top: 110px;
    border-color: transparent;
}
.search-result .container .content .rbuttons .result{
position: relative;
}
.search-result .container .content .rbuttons .result::after {
    content: " ";
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: white;
    top: 200px;
    right: 130px;
}
.search-result .container .content .rbuttons .result i {
    color: #F2F2F2;
    position: relative;
    font-size: xx-large;
    bottom: 18px;
    left: 13px;
}
.search-result .container .content .rbuttons .result .r-one{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border-color: transparent;
    color: white;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #9A9A9D;
    position: relative;
    left: 30px;
    bottom: 23px;
    font-size: medium;
}
.search-result .container .content .rbuttons .result .r-two{
    position: relative;
    left: 500px;
    top: 50px;
    width: 220px;
    height: 50px;
    border-radius: 50px;
    border-color: transparent;
    color: white;
    background-image: var(--background-image);
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}
a {
    color: white;
}
/*end result*/